# Core Deep Learning Framework
torch
torchaudio
lightning

# ML/DL Libraries
transformers
accelerate
datasets
tokenizers
huggingface-hub
safetensors

# Scientific Computing
# numpy==1.25.0
scipy
scikit-learn
pandas

# Audio Processing
librosa
audioread
soundfile
# pesq
auraloss
nnAudio
julius
soxr
mir_eval
jams
msaf

# Visualization & Monitoring
matplotlib
seaborn
tensorboard
wandb
gpustat

# Configuration & CLI
hydra-core
omegaconf
fire
click

# Deep Learning Utils
einops
einx
x-transformers
x-clip
ema-pytorch
schedulefree
torchmetrics

# Data Processing
h5py
pyarrow
pillow

# Text Processing
ftfy
regex
pypinyin
textgrid
pylrc

# Model Management
modelscope

# Utilities
tqdm
loguru
joblib
easydict
addict
beartype

# Others
# triton
muq
vmo

# others
gradio
einops
beartype
blessed
PyPDF2
